* {
  box-sizing: border-box;
  list-style: none; }

body {
  font-family: "Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*Navbar*/
#main-nav {
  padding: 0 40px; }
  #main-nav .login a {
    margin-right: 20px;
    color: #000;
    transition: 0.3s; }
    #main-nav .login a:hover {
      color: #007bff; }
  #main-nav .btn-warning {
    font-weight: 600;
    background: #f77d0e;
    color: #FFF;
    border-color: #f77d0e;
    border-radius: 0; }
    #main-nav .btn-warning:hover {
      background: #f77d0e; }

@media screen and (max-width: 768px) {
  #main-nav {
    position: relative;
    padding: 0; } }
/*Carousel*/
.main-carousel {
  position: relative; }

.main-carousel-caption {
  position: absolute;
  top: 10em;
  left: 5em;
  width: 580px;
  color: #FFF;
  z-index: 1; }
  .main-carousel-caption h1 {
    font-size: 2.5625rem;
    font-weight: bold; }
  .main-carousel-caption .lead {
    font-size: 1.25rem;
    font-weight: 500; }
  .main-carousel-caption button {
    width: 150px;
    height: 50px;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FFF; }
  .main-carousel-caption button:first-of-type {
    background-color: #f77d0e;
    border-color: #f77d0e; }
    .main-carousel-caption button:first-of-type:hover {
      background-color: #f77d0e;
      border-color: #f77d0e; }
  .main-carousel-caption button:last-of-type {
    margin-left: 15px;
    background: transparent; }
    .main-carousel-caption button:last-of-type:hover {
      background: rgba(57, 108, 203, 0.75); }

.carousel-inner {
  height: 600px; }

.carousel-indicators {
  right: 84%;
  bottom: 5%;
  margin: 0; }

.carousel-control-prev, .carousel-control-next {
  display: none; }

.carousel-indicators .active, .carousel-indicators li {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  text-align: left; }

/*As Used By*/
.main-asusedby {
  border-bottom: 1px solid #dedede;
  padding: 32px 0;
  margin-bottom: 100px; }
  .main-asusedby .tittle h5 {
    color: #4d525b;
    margin-top: 10px; }
  .main-asusedby .logo-company {
    display: flex; }
    .main-asusedby .logo-company div {
      display: flex; }
    .main-asusedby .logo-company img {
      margin: 0 10px; }

@media screen and (max-width: 768px) {
  .main-asusedby .logo-company {
    display: flex;
    overflow: scroll;
    margin: 0 25px; }
    .main-asusedby .logo-company img {
      width: 100px;
      max-height: 50px;
      margin: 0 25px; } }
/*Work*/
.main-work {
  margin-bottom: 100px; }
  .main-work .tittle h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 20px; }
  .main-work div img {
    width: 50%; }
  .main-work div div {
    font-size: 17px;
    font-weight: 400; }

/*Favorites*/
.favorites {
  background-color: #f7f7f7;
  padding: 100px 0 80px 0;
  margin-bottom: 100px; }
  .favorites .tittle h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    color: #0e1724;
    width: 700px;
    margin: 0 18% 20px 18%; }
  .favorites .tittle p {
    font-weight: 400;
    font-size: 24px;
    font-weight: 1.33;
    color: #0e1724;
    font-style: normal;
    margin-bottom: 50px; }
  .favorites div .logo {
    background-image: url("./assets/writting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-bottom: 20px; }
    .favorites div .logo:hover {
      background-color: rgba(255, 255, 255, 0.233); }
    .favorites div .logo:hover a {
      opacity: 1;
      border: 2px solid #F7F7F7;
      height: 40px;
      text-align: center;
      padding: 10px;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      position: relative;
      top: 50%; }
    .favorites div .logo a {
      opacity: 0; }
  .favorites div p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4; }

@media screen and (max-width: 768px) {
  .favorites {
    padding: 0; }
    .favorites .tittle h2 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.17;
      color: #0e1724;
      width: 100%;
      margin: 30px 0; }
    .favorites div .logo {
      margin-left: 10px;
      width: 450px; } }
/*About*/
.main-about {
  margin-bottom: 100px; }
  .main-about .about h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px; }
  .main-about .inner-about {
    display: flex; }
    .main-about .inner-about div {
      width: 400px; }
    .main-about .inner-about p {
      font-size: 1.25rem;
      font-weight: 400; }

@media screen and (max-width: 768px) {
  .About {
    overflow: scroll;
    display: flex; }
    .About .inner-about div {
      width: 170px; } }
/*Cover*/
.cover {
  margin-bottom: 100px; }
  .cover .main-cover {
    background-image: url("./assets/cover_letters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 762px; }
    .cover .main-cover .test h2 {
      display: none; }
    .cover .main-cover .tittle {
      margin: 150px 0;
      color: #F7F7F7; }
      .cover .main-cover .tittle h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.17; }
      .cover .main-cover .tittle h6 {
        font-size: 41px;
        font-weight: 1.17;
        width: 500px; }
      .cover .main-cover .tittle p {
        margin: 20px 0;
        font-size: 24px;
        font-weight: 400;
        width: 550px; }
      .cover .main-cover .tittle a {
        height: 200px;
        width: 200px;
        padding: 10px 20px;
        border: 1px solid #f7f7f7;
        color: #FFF;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 20px; }
        .cover .main-cover .tittle a:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.233); }
    .cover .main-cover .inner-cover {
      background-image: url("./assets/api.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 762px;
      margin-bottom: 100px;
      color: #F7F7F7; }
      .cover .main-cover .inner-cover .tittle {
        margin: 200px 0; }
        .cover .main-cover .inner-cover .tittle h2 {
          font-size: 48px;
          font-weight: 700;
          line-height: 1.17; }
        .cover .main-cover .inner-cover .tittle h6 {
          font-size: 41px;
          line-height: 1.17; }
        .cover .main-cover .inner-cover .tittle p {
          font-size: 24px;
          font-weight: 400;
          margin: 20px 0;
          width: 550px; }

@media screen and (max-width: 768px) {
  .cover .main-cover .tittle {
    text-align: left;
    margin: 50px 0;
    padding: 0 10px; }
    .cover .main-cover .tittle h6 {
      width: 100%; }
    .cover .main-cover .tittle p {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
