$fontweight: bold;
$color: #F7F7F7;
$blueColor: #007bff;
$blackColor: #0e1724;
$orangeColor: #f77d0e;
$Ecolor: #EEE;
$Dcolor:#DDD;

*
{
    box-sizing: border-box;
    list-style: none;
}

body
{
    font-family: "Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //
    overflow-x: hidden;
}

/*Navbar*/


#main-nav {
    padding: 0 40px;
    .login a
    {
        margin-right: 20px;
        color: $blackColor;
        transition: 0.3s;
        &:hover
        {
            color: $blueColor;
        }
    }
    .btn-warning 
    {
        font-weight: 600;
        background: $orangeColor;
        color: $color;
        border-color: $orangeColor;
        border-radius: 0;
        &:hover
        {
            background: $orangeColor;
        }
    }
}


@media screen and (max-width:768px) {

    #main-nav {
        position: relative;
        padding: 0;
    }
}

/*Carousel*/


.main-carousel
{
    position: relative;
}

.main-carousel-caption {
    position: absolute;
    top: 10em;
    left: 5em;
    width: 580px;
    color: $color;
    z-index: 1;
    h1
    {
        font-size: 2.5625rem;
        font-weight: $fontweight;
    }
    .lead
    {
        font-size: 1.25rem;
        font-weight: 500;
    }
    button 
    {
        width: 150px;
        height: 50px;
        display: inline-block;
        color: $color;
        font-size: 20px;
        font-weight: $fontweight;
        border: 2px solid $color;
    }
    button:first-of-type 
    {
        background-color: $orangeColor;
        border-color: $orangeColor;
        &:hover {
            background-color: $orangeColor;
            border-color: $orangeColor;
        }
    }
    button:last-of-type {
        margin-left: 15px;
        background: transparent;
        &:hover {
            background: rgba(57, 108, 203, 0.75);
        }
    }
}

.carousel-inner {
    height: 600px;
}

.carousel-indicators
{
    right: 84%;
    bottom: 5%;
    margin: 0;
}

.carousel-control-prev, .carousel-control-next
{
    // display: none;
}

.carousel-indicators .active, .carousel-indicators li
{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    text-align: left;
}


/*As Used By*/

.main-asusedby
{
    border-bottom: 1px solid #dedede;
    padding: 32px 0;
    margin-bottom: 100px;

    .tittle
    {
        h5
        {
            color: #4d525b;
            margin-top: 10px;
            margin-left: -50px;
        }
    }

    .logo-company
    {        
        display: flex;
        margin-left: -50px;
        
        div
        {
            margin: 0;
            padding: 0;
            margin-right: -17px;
        }
    }
}

@media screen and (max-width:768px) {

    .main-asusedby
    {
        .logo-company
        {
           display: flex;
            overflow: hidden;

            div
            {
                position: relative;
                animation: sliding 10s ease-in-out infinite;
                margin: 0 20px;
            }
        }
    }

    @keyframes sliding {
        0%{left: 0;}
        45%{left: -500px;}
        90%{left: -890px;}
    }
}

/*Work*/

.main-work
{
    margin-bottom: 100px;

    .tittle
    {
        h2
        {
            font-weight: 700;
            font-size: 48px;
            line-height: 1.17;
            margin-bottom: 20px;
        }
    }

    div
    {
        img
        {
            width: 50%;
        }

        div
        {
            font-size: 17px;
            font-weight: 400;
        }
    }
}

/*Favorites*/

.favorites
{
    background-color: $color;
    padding: 100px 0 80px 0;
    margin-bottom: 100px;

    .tittle
    {
        h2
        {
            font-weight: 700;
            font-size: 48px;
            line-height: 1.17;
            color: $blackColor;
            width: 700px;
            margin: 0 18% 20px 18%;
        }

        p
        {
            font-weight: 400;
            font-size: 24px;
            font-weight: 1.33;
            color: $blackColor;
            font-style: normal;
            margin-bottom: 50px;
        }
    }

    .logo
    {
        position: relative;
        height: 300px;

        &:hover
        {
            cursor: pointer;
        }

        &:hover a
        {
            opacity: 1;
            position: absolute;
            color: $color;
            text-decoration: none;
            border: 2px solid $color;
            padding: 10px;
            left: 28%;
            top: 30%;
        }

        img
        {
            width: 100%;
            height: 300px;
        }

        a
        {
            opacity: 0;
        }

    }

    .details
    {
        height: 100px;
        padding: 15px;    
        background-color: #FFF;
        text-align: left;
        margin-bottom: 40px;

        &:hover{cursor: pointer;}

        h5
        {
            font-weight: 400;
        }

        p
        {
            font-weight: 400;
        }
    }

}

@media screen and (max-width:768px) {

    .favorites
    {
        padding: 0;

        .tittle
        {
            h2
            {
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.17;
                color: $blackColor;
                width: 100%;
                margin: 30px 0;
            }
        }

        div
        {
            .logo
            {
                margin-left: 10px;

                img
                {
                    width: 100%;
                }
            }
        }
    }

}

/*About*/

.main-about
{
    margin-bottom: 100px;

    .about
    {
        h2
        {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 50px;
        }
    }
}

/*Cover*/

.cover
{
    margin-bottom: 100px;

    .inner-api
    {
        height: 250px;
        background-color: rgba(80, 80, 80, 0.171);
        padding: 20px;
        margin-right: 20px;
        direction: rtl;
        text-align: right;

        h6
        {
            color: rgb(26, 150, 223);
            text-align: right;
        }

        h4
        {
            font-size: 1.25rem;
            width: 50%;
        }

        p
        {
            width: 55%;
        }

        button
        {
            padding: 4px 15px;
            background-color: #139ff0;
            border: 1px solid #139ff0;
            color: $color;
            font-size: 15px;
        }

        .img
        {
            text-align: left;
            position: relative;

            img
            {
                height: 249px;
                width: 200px;
                position: absolute;
                left: -20px;
                top: -223px;
                overflow: hidden;
            }
        }
   }

    .inner-cover
    {
        height: 250px;
        background-color: rgba(80, 80, 80, 0.171);
        padding: 20px;

        h6
        {
            color: rgb(26, 150, 223);
        }

        h4
        {
            font-size: 1.25rem;
            width: 50%;
        }

        p
        {
            width: 60%;
            margin-bottom: 40px;
        }

        button
        {
            padding: 3px 15px;
            background-color: #139ff0;
            border: 1px solid #139ff0;
            color: $color;
            font-size: 15px;
        }

        .img
        {
            position: relative;

            img
            {
                width: 200px;
                height: 249px;
                position: absolute;
                right: -20px;
                top: -221px;
            }
        }
    }
}

/*Skills*/

.main-skills
{
    margin-bottom: 150px;

    img
    {
         margin-bottom: 20px;
    }

    h2
    {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }

    h3
    {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    hr
    {
        margin-bottom: 20px;
    }

    

        a
        {
            display: block;
            margin-bottom: 20px;
            color: rgb(83, 83, 83);

            &:hover
            {
                color: rgb(26, 150, 223);
            }
        }

    .btn
    {
        a
        {
            color: rgb(146, 146, 146);
            border: 1px solid $blackColor;
            padding: 10px 20px;
            font-size: 1.25rem;
            font-weight: bold;
            width: 200px;

            &:hover
            {
                text-decoration: none;
                color: $blackColor;
            }
        }
    }
}


/*Footer*/

.footer
{
    background-color: #001f3f;
    color: #FFF;
    padding: 32px 0;

    img
    {
        margin-bottom: 10px;
        width: 40%;
    }

    .link
    {
        a
        {
            display: block;
            color: #FFF;
            margin-bottom: 20px;
        }
    }

    .main-footer
    {
        margin-bottom: 50px;

        h5
        {
            margin-bottom: 20px;
            text-transform: capitalize;
        }

        a
        {
            display: block;
            margin-bottom: 20px;
            opacity: .7;
            color: $color;
            font-size: 15px;

            &:hover
            {
                color: #FFF;
                opacity: 1;
            }
        }

        img
        {
            overflow: hidden;
            border: 1px solid #F7F7F7;
            width: 70%;
            display: block;
            margin-bottom: 10px;
            border-radius: 7px;
            cursor: pointer;
        }

        .social
        {
            a
            {
                display: inline-block;
                margin-right: 10px;
                font-size: 1.25rem;
                color: #FFF;
                opacity: 1;
            }

            .facebook
            {
                &:hover
                {
                    color: #001aff;
                }
            }

            .twitter
            {
                &:hover
                {
                    color: #0077ff;
                }
            }

            .youtube
            {
                &:hover
                {
                    color: #ff0000;
                }
            }

            .instagram
            {
                &:hover
                {
                    color: #ff00f2;
                }
            }
        }
    }

    .inner-footer
    {
        border-top: 1px solid rgba(255, 255, 255, 0.267);
        padding-top: 32px;
        display: flex;

        p
        {
            font-size: 12px;
        }
    }
}

@media screen and (max-width:768px) {
    
    .inner-footer
    {
        flex-direction: column;
    }
    .main-footer{
        .link {
            width: 50%;
            display: inline-block;
        }
    }
}