*
{
    box-sizing: border-box;
    list-style: none;
}

body
{
    font-family: "Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 3000px;
}

.container
{
    margin-bottom: 100px;
}

/*Navbar*/


#main-nav {
    padding: 0 40px;
}

#main-nav .login a
{
    margin-right: 20px;
    color: #000;
    transition: 0.3s;
}


#main-nav .login a:hover
{
    color: rgba(0, 60, 255, 0.815);
}

#main-nav .btn-warning {
    font-weight: 600;
    background: #f77d0e;
    color: #ffffff;
    border-color: #f77d0e;
    border-radius: 0;
}

#main-nav .btn-warning:hover {
    background: #f88318;
}

.carousel-price
{
    position: absolute;
}

.carousel-price p
{
    z-index: 10;
}

h5
{
    margin: 60px 10px;
    text-align: center;
    color: #767676;
    line-height: 1.5;
    margin-bottom: 16px;
    white-space: nowrap;
}

.micro, .pwc
{
    margin: 32px 10px;
}


@media screen and (max-width:768px) {

    #main-nav {
        position: relative;
        padding: 0;
    }
}

/*Carousel*/


.main-carousel
{
    position: relative;
}

.main-carousel-caption {
    position: absolute;
    top: 10em;
    left: 5em;
    width: 580px;
    color: #ffffff;
    z-index: 1;
}

.main-carousel-caption h1
{
    font-size: 2.5625rem;
    font-weight: bold;
}

.main-carousel-caption .lead
{
    font-size: 1.25rem;
    font-weight: 500;
}

.main-carousel-caption button {
    width: 150px;
    height: 50px;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ffffff;
}

.main-carousel-caption button:first-of-type {
    background-color: #f77d0e;
    border-color: #f77d0e;
}


.main-carousel-caption button:first-of-type:hover {
    background-color: #f88318;
    border-color: #f88318;
}

.main-carousel-caption button:last-of-type {
    margin-left: 15px;
    background: transparent;
}

.main-carousel-caption button:last-of-type:hover {
    background: rgba(57, 108, 203, 0.75);
}

.carousel-inner {
    height: 600px;
}

.carousel-indicators
{
    right: 84%;
    bottom: 5%;
    margin: 0;
}

.carousel-control-prev, .carousel-control-next
{
    display: none;
}

.carousel-indicators .active, .carousel-indicators li
{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    text-align: left;
}

/*Web Sit*/

.container-fluid
{
    margin-bottom: 100px;
    border-bottom: 1px solid rgba(170, 161, 161, 0.349);
}

.site h5
{
    margin: 24px auto;
    text-align: right;
    padding: 10px;
}

.img, .imgs
{
    margin: 24px auto;
    padding: 10px;
}

.img img, .imgs img
{
    margin: 0 20px;
    max-width: 100;
}

@media screen and (max-width:768px) {

    .site h5
    {
        text-align: center;
    }

    .imgs img
    {
        margin: 0 25px;
    }
}


/*Work*/

.h2 h2
{
    margin-bottom: 50px;
    font-weight: bold;
}

.work h3
{
    margin: 20px;
    color: #0e1724;
    font-weight: bold;
    font-size: x-large;
}

.work p
{
    font-size: 1.17rem;
    display: inline;
}

/*About*/

.about h2
{
    margin-bottom: 50px;
    font-size: 2rem;
    line-height: 1.37;
    font-weight: bold;
}

.about img
{
    margin-bottom: 20px;
}

.about h3
{
    display: inline-block;
    margin: 12px;
    width: 100%;
}

.about p
{
    font-size: 1.20rem;
    line-height: 1.4;
}

@media screen and (max-width:768px) {

    .about p
    {
        font-size: 1.08rem;
        line-height: 1.5;
    }
}


/*Favorites*/

.favorites
{
    background-color: #F7F7F7;
}

.favorites h1
{
    padding: 50px 0 0 0;
}

.favorites .devlop .lead img
{
    max-width: 100%;
    margin: 0 0 20px 0;
}

.favorites .devlop .lead div
{
    margin: 0 30px;
    background-color: #FFF;
    height: 260px;
    width: 400px;
}

.favorites .devlop .lead
{
    margin: 20px 20px 40px 20px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.favorites .devlop .lead h3, .favorites .devlop .lead p
{
    font-size: 1.25rem;
    line-height: 1.4;
    margin-left: 20px;
}

@media screen and (max-width:768px) {

    .favorites
    {
        height: 662px;
    }

    .favorites .devlop
    {
        max-width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }

    .favorites .devlop .lead img
    {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 20px 0;
    }

    .favorites .devlop .lead div
    {
        background-color: #FFF;
        height: 300px;
        width: 300px;
        margin-left: 0;
    }

    .favorites .devlop .lead h3, .favorites .devlop .lead p
    {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-left: 20px;
    }

    .favorites h1
    {
        margin-bottom: 20px;
    }

    .favorites .her
    {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

}

/*Categories*/

.cat a
{
    color: #000;
}

.cat a img
{
    margin-bottom: 10px;
}

.cat a p
{
    font-size: .88rem;
    margin-bottom: 10px;
}

.cat a:hover
{
    color: #000;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .cat
    {
        background-color: #DDD;
        margin: 10px;
        padding: 10px;
        height: 85px;
        max-width: 150px;
    }
}

.api, .enter
{
    background-color: #EEE;
    padding: 20px;
}

.freelancer
{
    text-align: right;
}

label
{
    margin-bottom: 20px;
}

.freelancer h6, .enter h6
{
    margin-bottom: 20px;
}

.btn
{
    background-color: rgba(0, 195, 255, 0.692);
    border: rgba(0, 195, 255, 0.692);
    margin-top: 20px;
}

.btn:hover
{
    background-color: rgba(0, 195, 255, 0.692);
    border: rgba(0, 195, 255, 0.692);
}

/*Footer*/

.footer
{
    background-color: #000;
    color: rgba(255, 255, 255, 0.87);
}

.footer .container
{
    margin-bottom: 0;
}

.footer p i
{
    margin-right: 10px;
}

.footer h2
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer h5
{
    margin-top: 20px;
    color: #FFF;
    text-align: left;
    margin-left: 40px;
}

.footer ul li
{
    color: #EEE;
}

.footer ul li img
{
    border: 1px solid #FFF;
    padding: 10px;
    width: 150px;
    margin-bottom: 20px;
}

.footer ul li a
{
    margin-right: 30px;
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .footer
    {
        max-width: 100%;
    }
}