$fontweight: bold;
$color: #F7F7F7;
$blueColor: #007bff;
$blackColor: #0e1724;
$orangeColor: #f77d0e;
$Ecolor: #EEE;
$Dcolor:#DDD;

*
{
    box-sizing: border-box;
    list-style: none;
}

body
{
    font-family: "Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Navbar*/


#main-nav {
    padding: 0 40px;
    .login a
    {
        margin-right: 20px;
        color: $blackColor;
        transition: 0.3s;
        &:hover
        {
            color: $blueColor;
        }
    }
    .btn-warning 
    {
        font-weight: 600;
        background: $orangeColor;
        color: $color;
        border-color: $orangeColor;
        border-radius: 0;
        &:hover
        {
            background: $orangeColor;
        }
    }
}


@media screen and (max-width:768px) {

    #main-nav {
        position: relative;
        padding: 0;
    }
}

/*Carousel*/


.main-carousel
{
    position: relative;
}

.main-carousel-caption {
    position: absolute;
    top: 10em;
    left: 5em;
    width: 580px;
    color: $color;
    z-index: 1;
    h1
    {
        font-size: 2.5625rem;
        font-weight: $fontweight;
    }
    .lead
    {
        font-size: 1.25rem;
        font-weight: 500;
    }
    button 
    {
        width: 150px;
        height: 50px;
        display: inline-block;
        color: $color;
        font-size: 20px;
        font-weight: $fontweight;
        border: 2px solid $color;
    }
    button:first-of-type 
    {
        background-color: $orangeColor;
        border-color: $orangeColor;
        &:hover {
            background-color: $orangeColor;
            border-color: $orangeColor;
        }
    }
    button:last-of-type {
        margin-left: 15px;
        background: transparent;
        &:hover {
            background: rgba(57, 108, 203, 0.75);
        }
    }
}

.carousel-inner {
    height: 600px;
}

.carousel-indicators
{
    right: 84%;
    bottom: 5%;
    margin: 0;
}

.carousel-control-prev, .carousel-control-next
{
    display: none;
}

.carousel-indicators .active, .carousel-indicators li
{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    text-align: left;
}


/*As Used By*/

.main-asusedby
{
    border-bottom: 1px solid #dedede;
    padding: 32px 0;
    margin-bottom: 100px;

    .tittle
    {
        h5
        {
            color: #4d525b;
            margin-top: 10px;
        }
    }

    .logo-company
    {
        display: flex;
        
        div
        {
            display: flex;
        }

        img
        {
            margin: 0 10px;
        }
    }
}

@media screen and (max-width:768px) {

    .main-asusedby
    {
        .logo-company
        {
           display: flex;
            overflow: hidden;
            margin: 0 25px;
            width: 500px;

            div
            {
                position: relative;
                animation: sliding 10s ease-in-out infinite;
            }

            img
            {
                width: 100px;
                max-height: 50px;
                margin: 0 25px;
            }
        }
    }

    @keyframes sliding {
        0%{left: 0;}
        45%{left: -500px;}
        90%{left: -1000px;}
    }
}

/*Work*/

.main-work
{
    margin-bottom: 100px;

    .tittle
    {
        h2
        {
            font-weight: 700;
            font-size: 48px;
            line-height: 1.17;
            margin-bottom: 20px;
        }
    }

    div
    {
        img
        {
            width: 50%;
        }

        div
        {
            font-size: 17px;
            font-weight: 400;
        }
    }
}

/*Favorites*/

.favorites
{
    background-color: $color;
    padding: 100px 0 80px 0;
    margin-bottom: 100px;

    .tittle
    {
        h2
        {
            font-weight: 700;
            font-size: 48px;
            line-height: 1.17;
            color: $blackColor;
            width: 700px;
            margin: 0 18% 20px 18%;
        }

        p
        {
            font-weight: 400;
            font-size: 24px;
            font-weight: 1.33;
            color: $blackColor;
            font-style: normal;
            margin-bottom: 50px;
        }
    }

    div
    {
        .logo
        {
            background-image: url('./assets/writting.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
            &:hover
                {
                    background-color: rgba(255, 255, 255, 0.233);
                    cursor: pointer;
                }

                &:hover a
                {
                    opacity: 1;
                    border: 2px solid $color;
                    height: 40px;
                    text-align: center;
                    padding: 10px;
                    color: $color;
                    text-decoration: none;
                    text-align: center;
                    position: relative;
                    top: 50%;
                }

            a
            {
                opacity: 0;
            }
        }

        p
        {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.4;
        }
    }
}

@media screen and (max-width:768px) {

    .favorites
    {
        padding: 0;

        .tittle
        {
            h2
            {
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.17;
                color: $blackColor;
                width: 100%;
                margin: 30px 0;
            }
        }

        div
        {
            .logo
            {
                margin-left: 10px;
                width: 450px;
            }
        }
    }

}

/*About*/

.main-about
{
    margin-bottom: 100px;

    .about
    {
        h2
        {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 50px;
        }
    }

    .inner-about
    {
        display: flex;

        div
        {
            width: 400px;
        }

        p
        {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
}


@media screen and (max-width:768px) {

    .About
    {
        overflow: scroll;

        .inner-about
        {
            float: left;
            overflow: hidden;
            

            div
            {
                width: 100%;
                position: relative;
                animation: sliding 10s ease-in-out infinite;
            }
        }
    }

    @keyframes sliding {
        0%{left: 0;}
        45%{left: -500px;}
        90%{left: -1000px;}
    }
}

/*Cover*/

.cover
{
    margin-bottom: 100px;
    
    .main-cover
    {
        #main-cover
        {
            background-image: url("./assets/cover_letters.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: $color;
            height: 762px;
        }

        .test
        {
            h2
            {
                display: none;
            }
        }

        .tittle
        {
            margin-top: 170px;

            h2
            {
                font-size: 48px;
                font-weight: 700;
                line-height: 1.17;
            }

            h6
            {
                font-size: 41px;
                font-weight: 400;
                line-height: 1.17;
                margin-bottom: 25px;
            }

            p
            {
                font-size: 1.6rem;
                font-weight: 300;
                margin-bottom: 25px;
            }

            a
            {
                width: 20px;
                border: 1px solid $color;
                padding: 10px 20px;
                color: $color;
                font-size: 1.25rem;
                font-weight: 700;
                background-color: $blackColor;

                &:hover
                {
                    background-color: rgba(255, 255, 255, 0.267);
                    text-decoration: none;
                }
            }
        }

        .inner-cover
        {
            background-image: url("./assets/api.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 762px;
            color: $color;

            .tittle
            {
                margin-top: 250px;

                p
                {
                    font-weight: 400;
                }

                a
                {
                    background-color: rgba(247, 247, 247, 0);
                    padding: 15px 20px;

                    &:hover
                    {
                        background-color: rgba(247, 247, 247, 0.1);
                    }
                }
            }
        }
    }
}


@media screen and (max-width:768px) {

    .cover
    {

        .main-cover
        {
            background-image: url("./assets/cover_letters.jpg");
            background-repeat: no-repeat;
            background-size: cover;

            .tittle
            {
                margin-top: 50px;
            }
        }
    }
    
}

/*Skills*/

.skills
{
    margin-bottom: 150px;

    height: 662px;

    img
    {
         margin-bottom: 20px;
    }

    h2
    {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }

    h3
    {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    hr
    {
        margin-bottom: 20px;
    }

    .link
    {

        margin-bottom: 100px;

        a
        {
            display: block;
            margin-bottom: 20px;
            color: rgb(83, 83, 83);

            &:hover
            {
                color: rgb(26, 150, 223);
            }
        }
    }

    .btn
    {
        a
        {
            color: rgb(146, 146, 146);
            border: 1px solid $blackColor;
            padding: 10px 20px;
            font-size: 1.25rem;
            font-weight: bold;

            &:hover
            {
                text-decoration: none;
                color: $blackColor;
            }
        }
    }
}


/*Footer*/

.footer
{
    background-color: #161e2c;
    color: $color;

    .tittle
    {
        padding: 32px 0;
        flex: 0;

        .link
        {
            a
            {
                color: $color;
                display: block;
                margin: 20px 0;
            }
        }
    }


    .inner-footer
    {
        h6
        {
            font-size: 16px;
            line-height: 1.17;
            font-weight: 700;
        }

        padding: 32px 0;

        .link
        {
            a
            {
                display: block;
                color: rgba(255, 255, 255, 0.425);

                &:hover
                {
                    color: $color;
                }
            }
        }

        .store
        {
            .app,.play
            {
                margin-bottom: 20px;
                border: 1px solid $color;
                border-radius: 5px;
                overflow: hidden;
                width: 70%;

                img
                {
                    width: 100%;
                }
            }

        }

        .social
        {
            div
            {
                float: left;
            }

            .facebook
            {
                i
                {
                    color: $color;
                    font-size: 20px;

                    &:hover
                    {
                        color: rgb(0, 26, 255);
                    }
                }

            }

            .twitter
            {
                i
                {
                    margin: 0 10px;
                    color: $color;
                    font-size: 20px;

                    &:hover
                    {
                        color: rgb(0, 153, 255);
                    }
                }
            }

            .youtube
            {
                i
                {
                    margin: 0 10px;
                    color: $color;
                    font-size: 20px;

                    &:hover
                    {
                        color: rgb(255, 0, 0);
                    }
                }
            }

            .instagram
            {
                i
                {
                    margin: 0 10px;
                    color: $color;
                    font-size: 20px;

                    &:hover
                    {
                        color: rgb(255, 0, 149);
                    }
                }
            }
        }

    }

    .main-footer
    {

        div
        {
            float: left;
            }

        border-top: 1px solid #2b3340;
        padding: 24px 0;

        h6
        {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.43;

            span
            {
                font-size: 13px;
                line-height: 1.2;
                display: block;
            }
        }

        .tittle
        {
            padding: 0;

            span{
                font-size: 11px;
                font-weight: 400;
                line-height: 1.45;
                display: block;
            }
        }
        
    }
}

@media screen and (max-width:768px) {

    .footer
    {
        .inner-footer
        {
            .store
            {      
                .app
                {
                    margin-right: 100px;
                    float: left;
                }

                .play, .app
                {
                    width: 30%;
                }
            }
        }
    }
}